* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* this is first part  */
.image img {
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgb(43, 30, 30) rgb(16, 13, 13));
}

.heading-text {
  position: absolute;
  top: 43px;
  left: 381px;
  color: white;
  font-size: 45px;
  width: 576px;
  text-align: center;
}

.paragraph {
  position: absolute;
  bottom: 268px;
  margin-left: 302px;
  color: white;
  text-align: center;
  width: 615px;
}

.donate-button {
  position: absolute;
  bottom: 203px;
  left: 575px;
  background-image: linear-gradient(orange, tomato);
  padding: 13px;
  border: none;
  border-radius: 5px;
  color: white;
}

/* this is second part  */
.second-div {
  background-color: white;
  height: 500px;
}

.donate-heading {
  text-align: center;
  font-size: 60px;
}

.second-text {
  text-align: center;
  width: 700px;
  margin-left: 293px;
}

.new-div {
  text-align: center;
  margin-top: 60px;
}

.money {
  background-color: rgb(217, 212, 212);
  padding: 10px;
}

.ex {
  background-color: rgb(217, 212, 212);
  padding: 10px;
  background-color: orangered;
  border: 1px solid tomato;
}

.another-paragraph {
  text-align: center;
  color: gray;
  margin-top: 64px;
  font-size: 10px;
}

.rull {
  text-align: center;
  width: 359px;
  margin-left: 449px;
}

.second-donate-button {
  text-align: center;
  padding: 15px;
  margin-left: 590px;
  background-color: tomato;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 16px;
}

/* this is third part  */
.third-div {
  height: 300px;
}

.third-heading {
  text-align: center;
  font-size: 50px;
}

.third-paragraph {
  text-align: center;
  width: 821px;
  margin-left: 204px;
  color: gray;
}

.three-box {
  height: 265px;
  width: 100%;
  background-color: white;
  display: flex;
  margin-left: 179px;

}

.box {
  width: 200px;
  height: 25px;


}

.box img {
  width: 100%;
  height: 100px;

}

.one {
  background-color: aqua;
  margin-left: 82px;
}

.two {
  background-color: olive;
  margin-left: 82px;
}

.three {
  background-color: tomato;
  margin-left: 82px;
}

/* this is fourth part */
.fourth_part {
  height: 400px;
  width: 100%;
}

.update_heading {
  text-align: center;
  font-size: 45px;
  margin-top: 64px;
}

.another_box {
  height: 105px;
  width: 613px;
  margin-left: 343px;
  margin-top: 37px;
  background-color: antiquewhite;
}

.email {
  margin-top: 43px;
  margin-left: 173px;
  background-color: rgb(222, 211, 211);
  border: none;
  padding: 5px;
  border-radius: 4px;

}

.sub {
  padding: 5px;
  margin-left: -9px;
  background-color: tomato;
  border: none;
  border-radius: 2px;
}

/* this is last part  */
.last_part {
  height: 150px;
  background-color: rgb(6, 6, 21);
}

.last_headding {
  text-align: center;
  color: yellow;
  padding-top: 41px;
  font-style: italic;
}

.last_paragraph {
  color: white;
  text-align: center;
  padding-bottom: 15px font-
}